@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.section-heading {
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}
/* End of Common Styles */

/* Navbar */
.navbar {
  width: 100%;
  height: 11rem;
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  top: -14rem;
  z-index: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.2rem #000;
  transition: top 0.3s;
}

.navbar.change {
  top: 0;
  transition: top 0.3s 0.3s;
}

.navbar-link {
  color: #fff;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: color 0.3, opacity, 2s;
}

.change .navbar-link {
  opacity: 1;
}

.change .navbar-link:nth-child(1) {
  transition: opacity 0.4s 0.5s, color 0.3s;
}

.change .navbar-link:nth-child(2) {
  transition: opacity 0.4s 0.6s, color 0.3s;
}

.change .navbar-link:nth-child(3) {
  transition: opacity 0.4s 0.7s, color 0.3s;
}

.change .navbar-link:nth-child(4) {
  transition: opacity 0.4s 0.8s, color 0.3s;
}

.change .navbar-link:nth-child(5) {
  transition: opacity 0.4s 0.9s, color 0.3s;
}

.navbar-link:hover {
  color: #173756;
}

.navbar-link i {
  font-size: 6rem;
}

.navbar-link span {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.menu {
  background-color: transparent;
  position: fixed;
  top: 1rem;
  left: 2rem;
  cursor: pointer;
  z-index: 100;
  transition: top 0.8s 0.2s;
}

.menu.change {
  top: 12rem;
  transition: top 0.3s;
}

/* End of Navbar */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-1 .section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-wrapper #profile-pic {
  width: 60%;
  border-radius: 45%;
  margin-top: 8rem;
}

#user-biography{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

#user-name{
  margin-top: -6rem;
  font-size: 48px;
  line-height: 2em;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

#user-name span{
  font-weight: 800;
  color: #0393D7;
}

#bio {
  width: 400px;
  letter-spacing: 0rem;
  font-size: 1.8rem;
  font-weight: 100;
  padding-top: -14rem;
  margin-left: 0rem;
  margin-right: 0rem;
  line-height: 2.4rem;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

#bio a{
  font-weight: bold;
  color: #0393D7;
}

#user-biography .mail{
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  color: #0393D7;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.mail i{
  font-size: 4rem;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.mail p{
  font-size: 2rem;
  color: #0393D7;
}

/* End of Section 1 */

/* Section 2 */
.section-2 {
  background-color: #333;
  padding: 5rem 0;
}

.section-2 h1 {
  padding-top: 6rem;
  font-weight: 900;
}

.testing {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 20rem;
}

.testing-link {
  display: flex;
  position: relative;
  width: 300px;
  height: 100px;
  text-align: center;
  margin: 0.6rem 0rem 0rem;
  transition: all .5s;
}

.testing-object {
  position: absolute;
  margin-top: 8rem;
}

.testing-name {
  position: absolute;
  text-align: left;
  width: 300px;
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #aaa;
  text-shadow: 0.3rem 0.3rem 0.3rem #111;
  transition:  padding-top 0.3s;
  cursor: pointer;
}

.testing-description {
  position: absolute;
  top: 2.8rem;
  bottom: 3vw;
  left: 1rem;
  width: 280px;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #aaa;
  text-shadow: 0.1rem 0.1rem 0.1rem #111;
}

.testing-link:hover .testing-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s 0.3s;
  cursor: pointer;
}

.testing-link:hover .testing-object {
  width: 300px;
  height: 100px;
}

/* End of Section 2 */

/* Section 3 */
.section-3 {
  background-color: #111;
  padding: 5rem 0;
}

.section-3 h1 {
  padding-top: 6rem;
  font-weight: 900;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 5rem;
}

.skills-link {
  display: flex;
  position: relative;
  width: 300px;
  height: 100px;
  text-align: center;
  margin: 1.6rem 1rem 1rem;
  background-color: #222;  
  transition: all .5s;
}

.skill-name {
  position: absolute;
  text-align: left;
  width: 300px;
  padding-top: 9rem;
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #aaa;
  text-shadow: 0.3rem 0.3rem 0.3rem #111;
  transition:  padding-top 0.3s;
  cursor: pointer;
}

.skill-description {
  position: absolute;
  /* margin: 1% 0%; */
  top: 2.6rem;
  bottom: 3vw;
  left: 1rem;
  width: 280px;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #aaa;
  text-shadow: 0.1rem 0.1rem 0.1rem #111;
  opacity: 0;
  visibility: hidden;
}

.skills-link:hover .skill-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s 0.3s;
  cursor: pointer;
}

.skill-object {
  position: absolute;
  margin-left: 0rem;
  width: 0%;
  height: 0px;
  background: #111;
  transition: width 0.2s, height 0.2s;
}

.skills-link:hover .skill-object {
  width: 300px;
  height: 100px;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
  background-color: #222;
  padding: 6rem 0;
}

.section-4 h1 {
  padding-top: 5rem;
  font-weight: 900;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
  margin-bottom: 10rem;  
}

#tools-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
  width: 440px;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.4rem #aaa;
}

.card--techstack{
  color: #fff;
  border: 1px solid #333;
  background-color: #111;
  border-radius: 10px;
  padding: 0.5em 1em;
  align-items: center;
  margin: 10px;
}

.tools-link {
  font-size: 15rem;
}

.tools-object {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #d08021;
  transition: width 0.3s, height 0.3s;
}

.tools-link:hover .tools-object {
  width: 500px;
  height: 200px;
}

.tools-link .tools-description {
  opacity: 0;
  visibility: hidden;
}

.tools-link:hover .tools-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s 0.4s;
}

/* End of Section 4 */

/* Section 5 */

.section-5 {
  background-color: #444;
  padding: 6rem 0;
}

.section-5 h1 {
  padding-top: 5rem;
  font-weight: 900;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
  margin-bottom: 14rem;
}

#contact-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-links p {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 1.8em;
  color: #111;
  width: 400px;
  padding-bottom: 4rem;
  text-align: center;
  transition: all .8s;
}

#contact-items a {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 3em;
  color: #111;
  text-shadow: 0.8rem 0.8rem 0.4rem #aaa;
  font-weight: 800;
  text-align: center;
  transition: all .8s;
}

#contact-mail i {
  display: flex;
  font-size: 8rem;
  color: #fff;

}

#contact-mail {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #111;
  margin-top: 10rem;
  text-shadow: 1.4rem 1.4rem 0.4rem #333;

}

#contact-items a:hover{
  font-weight: 800;
  text-shadow: 0.8rem 0.8rem 0.4rem #333;
  color: #0393D7;
  transition: all .8s;

}

.copyright {
  position: absolute;
  font-size: 1.7rem;
  color: #111;
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid #111;
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 1400px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 900px) {

  .testing {
    margin-bottom: 6rem;
  }

  .testing-object {
    margin-top: 4rem;
    transition: width 0.2s, height 0.2s;
  }
  
}

@media (max-width: 780px) {

}

@media (max-width: 550px) {
  html {
    font-size: 60%;
  }

  .navbar-link {
    margin: 0 0rem;
  }

  .testing {
    margin-bottom: 6rem;
  }
  
}
@media (max-width: 500px) {

  .navbar-link i {
    font-size: 5rem;
  }
  
  .navbar-link span {
    font-size: 1.2rem;
  }

  .navbar-link {
    margin: 0 0rem;
  }

  #bio {
    width: 300px;
  }

  #user-name{
    margin-top: -5rem;
    font-size: 42px;
  }

  #user-biography .mail{
    margin-bottom: 10rem;
  }

  .contact-links p {
    width: 340px;
  }

  #contact-mail {
    margin-top: 2rem;
    margin-left: 1rem;
  
  }

  #contact-mail i {
    font-size: 6rem;
  }
  
  
}
/* End of Responsive */
